In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
import matplotlib.ticker as mticker

In [ ]:
chunk_size = 10000  # Number of rows per chunk
chunks = []

In [3]:
for chunk in pd.read_csv('/home/sepal-user/module_results/esbae/Cote_Ivoire_MRV/04_Data_Augmentation/Landsat/sbae_rci.csv', chunksize=chunk_size):
    # Process each chunk (e.g., filtering, aggregating)
    chunks.append(chunk)

In [4]:
# Combine processed chunks
final_df = pd.concat(chunks)

In [5]:
final_df.head(5)

,Unnamed: 0,geometry,point_id,dates,ts,images,mon_images,bfast_change_date,bfast_magnitude,bfast_means,...,tmf_2015,tmf_2016,tmf_2017,tmf_2018,tmf_2019,tmf_2020,tmf_defyear,tmf_degyear,tmf_main,tmf_sub
0,0,"POLYGON ((-6.696908 6.362703, -6.696278 6.3627...",90174,"['19950618', '20000404', '20001216', '20010218...","{'green': [485.77160030052596, 551.01277235161...",115,53,2019.995,846.909790,0.622956,...,4.0,4.0,4.0,4.0,4.0,4.0,1510.5,0.0,50.0,54.0
1,1,"POLYGON ((-6.678832 6.362703, -6.678202 6.3627...",91430,"['20000131', '20000404', '20001013', '20001216...","{'green': [1553.9324596774193, 606.57580071174...",119,55,2017.189,-1283.880737,-1.321017,...,6.0,6.0,6.0,6.0,6.0,6.0,0.0,0.0,70.0,91.0
2,2,"POLYGON ((-6.687872 6.362703, -6.687243 6.3627...",90802,"['19950618', '20001216', '20010218', '20010423...","{'green': [610.3544483985764, 745.066192170818...",109,51,2016.797,-958.496399,-1.973106,...,6.0,6.0,6.0,6.0,6.0,6.0,0.0,0.0,70.0,91.0
3,3,"POLYGON ((-6.682425 7.863725, -6.681793 7.8637...",92851,"['19950625', '19970206', '19980225', '19980329...","{'green': [1738.5195729537368, 1042.5032028469...",213,93,-1.000,0.000000,0.000000,...,6.0,6.0,6.0,6.0,6.0,6.0,0.0,0.0,70.0,91.0
4,4,"POLYGON ((-6.673355 7.863725, -6.672723 7.8637...",93477,"['19950625', '19970206', '19980225', '19980329...","{'green': [1462.6348973607041, 1192.3651026392...",217,90,2017.844,-1525.496826,-2.553362,...,6.0,6.0,6.0,6.0,6.0,6.0,0.0,0.0,70.0,91.0

In [ ]:
final_df.dtypes

In [8]:
allceopts = pd.read_csv('/home/sepal-user/CAFI_DDD/8300points.csv', delimiter=';')

/tmp/ipykernel_584/3079366750.py:1: DtypeWarning: Columns (0,1,6,11,12,14,15,17,18,20,21,23,24,29,30,31,32,33,35,36,38,135) have mixed types. Specify dtype option on import or set low_memory=False.
  allceopts = pd.read_csv('/home/sepal-user/CAFI_DDD/8300points.csv', delimiter=';')

In [ ]:
allceopts.head(2)

In [ ]:
# Performing an outer join on the 'point_id' column
merged_df = pd.merge(allceopts, final_df, on='point_id', how='outer', suffixes=('_final_df', '_allceopts'))

In [ ]:

# Identifying columns that are in both dataframes and updating the values from bon4303_df
common_columns = [col for col in allceopts.columns if col in final_df.columns and col != 'point_id']

for col in common_columns:
    merged_df[col] = merged_df[col + '_final_df'].combine_first(merged_df[col + '_allceopts'])

In [ ]:

# Removing the duplicated columns after update
merged_df.drop(columns=[col + suffix for col in common_columns for suffix in ['_final_df', '_allceopts']], inplace=True)

In [ ]:
# Display the first few rows of the updated dataframe
updated_merged_df_head = merged_df.head()
updated_merged_df_head

In [ ]:
final_df.to_csv('/home/sepal-user/CAFI_DDD/320kpts.csv', index=False, sep=';')

In [6]:
selected_columns = final_df[['point_id', 'geometry']]

In [11]:
merged_df.to_csv('/home/sepal-user/CAFI_DDD/8300update.csv', index=False, sep=';')

In [9]:
merged_df = allceopts.merge(final_df, on='point_id', how='inner')

In [10]:
merged_df.head(3)

,point_id,PLOTID,LON,LAT,str_dal_ne,ID,phyto,def_year_1520,deg_year_1520,str_dal_FA,...,tmf_2015_y,tmf_2016_y,tmf_2017_y,tmf_2018_y,tmf_2019_y,tmf_2020_y,tmf_defyear,tmf_degyear,tmf_main_y,tmf_sub_y
0,4447,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.0,6.0,6.0,6.0,6.0,6.0,0.0,0.0,70.0,91.0
1,4643,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,3.0,3.0,3.0,3.0,3.0,502.0,1504.5,38.0,46.0
2,4720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.0,6.0,6.0,6.0,6.0,6.0,0.0,0.0,70.0,91.0